<h1>The Vegan Cafe</h1>
<h2>Waiting to be devoured!</h2>
{{#each burgerData}}
  <div>
    {{#if this.devoured}}
      <span>             <span>This burger was eaten: {{burger_name}}
    {{else}}
      {{burger_name}} 
      <form action="/update/{{ id }}" method="post">
      <button type="submit">Devour it!</button>
    </form> 
    {{/if}}  
  </div>
{{/each}}



<form action="/create" method="post">
  <textarea name="item" rows="2" cols="30"></textarea>
  <button type="submit">Enter Your Burger</button>
<form>